<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Redbank Group Digital Signature</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>com.digitalsignature.dashboard.Dashboard</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/Dashboard/welcome</url-pattern>
    </servlet-mapping>

</web-app>